<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./vendor/autoload.php">

    <testsuites>
        <testsuite name="GuzzleBundle Test Suite">
            <directory>./Tests</directory>
            <exclude>./vendor</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>Resources/</directory>
                <directory>Tests/</directory>
                <directory>vendor/</directory>
            </exclude>
        </whitelist>
        <blacklist>
            <directory>./Resources/</directory>
            <directory>./Tests/</directory>
            <directory>./vendor/</directory>
        </blacklist>
    </filter>

    <php>
        <server name="KERNEL_DIR" value="Tests/Resources/app"/>
    </php>

</phpunit>